*{
    h1{
        text-align: center; 
        color: rgb(218, 40, 28); 
        font-family: Tahoma;
    }

    h2{
        text-align: center; 
        color: rgb(68, 68, 68); 
        font-family: Tahoma;
    }

    p {text-align: center; 
       font-family: Tahoma;}
}